body {
    background-color: #F3F0F7;
}
section {   
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    border-radius: 7px;
    text-align: center;
}
button {
    width: 170px;
    background-color: #B4A7D6;
}
.login-container {
    justify-content: center;
    align-items: center;
}
.login-container > * {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-container-login > * {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
